.cardWrapper {
  color: white;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}

.cardTitleWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.cardTitleWrapper p {
  margin: 0;
  font-size: 1rem;
}

.price-red {
  color: #f45b5b;
}

.price-green {
  color: #1db954;
}

.percentage-red {
  color: #f45b5b;
}

.percentage-green {
  color: #1db954;
}

.percentage-neutral {
  color: #999;
}

.percentage-red,
.percentage-green,
.percentage-neutral {
  font-weight: 800;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.linea {
  border: solid 0.1px #444;
  height: 4rem;
  margin-top: 1rem;
}
