.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Top-Bar {
  min-height: 6rem;
  background-color: #222;
  overflow-x: auto;
}

@media (max-width: 990px) {
  .App-header {
    width: 80% !important;
    flex-direction: column !important;
    margin-top: 6rem !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  display: flex;
  width: 80%;
  flex-direction: row;
  margin-left: 4rem;
  gap: 6rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
